*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right, #000000, #2b2b2b);
}

.calculator-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: #920138;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 0.75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 224, 224);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgb(156, 126, 126);
}

.output .previous-operand{
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.25rem;
}